@import "./../../../styles/color.scss";

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $primary-color;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: $color-white;
}
